<h6 class="mb-5 text-muted">Test B : Probamos con un array.</h6>

<mte-modular-table>

  <!-- rows -->

  <mte-row>
    <mte-row-cell><p><b>Titulo 1</b></p></mte-row-cell>
    <mte-row-cell><p><b>Titulo 2</b></p></mte-row-cell>
    <mte-row-cell><p><b>Titulo 3</b></p></mte-row-cell>
  </mte-row>

  <mte-row *ngFor="let row of [1,2,3,4,5,6,7,8]" [context]="row" [showBackground]="false" [justifyActions]="'end'">

    <mte-row-action>
      <div class="bg-danger h-100 d-flex align-items-center px-3 me-2" (click)="doWithoutCtx()">
        <p class="text-white m-0">Sin contexto</p>
      </div>
    </mte-row-action>

    <mte-row-action [action]="actionRow">
      <div class="bg-danger h-100 d-flex align-items-center p-3">
        <p class="text-white m-0">Con contexto</p>
      </div>
    </mte-row-action>

    <mte-row-cell>
      <div class="w-100 h-100 d-flex align-items-center">
        <p class="text-muted">Celda 1</p>
      </div>
    </mte-row-cell>
    <mte-row-cell>
      <div class="w-100 h-100 d-flex align-items-center">
        <p class="text-muted">Celda 2</p>
      </div>
    </mte-row-cell>
    <mte-row-cell>
      <div class="w-100 h-100 d-flex align-items-center">
        <p class="text-muted">Celda 3</p>
      </div>
    </mte-row-cell>
  </mte-row>



</mte-modular-table>