<h6 class="mb-5 text-muted">Test F: Probamos los expands del row.</h6>

<mte-modular-table [autoContractRows]="false" [title]="'titulo'" [subTitle]="'subtitlo de ldlaadowa'">

  <mte-header-action>
    <button>pepe</button>
  </mte-header-action>
  
  <mte-row *ngFor="let x of [1,2,3,4]">
    <mte-row-cell>
      Click para abrir el contenido {{x}}
    </mte-row-cell>
    <mte-row-expand>
      <div class="w-100 h-100 bg-light p-0">
        <p>Contenido adicional del row {{x}}...</p>
      </div>
    </mte-row-expand>
  </mte-row>

  <mte-footer-action>
    mememe
  </mte-footer-action>

</mte-modular-table>