<h6 class="mb-5 text-muted">Test C : Probamos con un array que cambia luego de 3 segundos</h6>


<mte-modular-table>

  <!-- header -->
  <mte-row-header>
    <mte-row-cell><p><b>Titulo 1</b></p></mte-row-cell>
    <mte-row-cell><p><b>Titulo 2</b></p></mte-row-cell>
    <mte-row-cell><p><b>Titulo 3</b></p></mte-row-cell>
  </mte-row-header>

  <!-- rows -->
  <mte-row *ngFor="let row of myArray">
    <mte-row-cell>
      <div class="w-100 h-100">
        <p class="text-primary fw-bold m-0">Row {{row}}</p>
        <p class="text-muted">Celda 1</p>
      </div>
    </mte-row-cell>
    <mte-row-cell>
      <div class="w-100 h-100">
        <p class="text-primary fw-bold m-0">Row {{row}}</p>
        <p class="text-muted">Celda 2</p>
      </div>
    </mte-row-cell>
    <mte-row-cell>
      <div class="w-100 h-100">
        <p class="text-primary fw-bold m-0">Row {{row}}</p>
        <p class="text-muted">Celda 3</p>
      </div>
    </mte-row-cell>
  </mte-row>

</mte-modular-table>