<ng-template #template>
  <div (click)="toggle()" (mouseover)="onOver = true" (mouseout)="onOver = false"
    class="position-relative overflow-hidden w-100 h-100 row m-0 p-0">
    <!-- actions -->
    <div *ngIf="actions.length" [ngClass]="{'d-none': !onOver, 'slide-left': onOver}" class="w-100 h-100 position-absolute p-0">
      <div class="h-100 w-100 position-absolute d-flex justify-content-{{justifyActions}}" [style.z-index]="1">
        <ng-container *ngFor="let action of actions">
          <div (click)="execRowAction(action.action)">
            <ng-template [ngTemplateOutlet]="action.template"></ng-template>
          </div>
        </ng-container>
      </div>
      <!-- background -->
      <div *ngIf="showBackground" class="w-100 h-100 bg-dark position-absolute pe-none" [style.opacity]="'.3'"></div>
    </div>

    <!-- row cells -->
    <div class="row m-0 p-0">
      <ng-container *ngFor="let cell of cells">
        <div class="col p-0 m-0">
          <ng-template [ngTemplateOutlet]="cell.template"></ng-template>
        </div>
      </ng-container>
    </div>

    <div *ngIf="mustExpand" class="w-100 p-0">
      <ng-template [ngTemplateOutlet]="expandedTemplate.template"></ng-template>
    </div>

  </div>
</ng-template>
