<ng-template #template>
  <div *ngIf="rows.length && !showError">
    <ng-container *ngFor="let row of rows">
      <ng-template [ngTemplateOutlet]="row.template"></ng-template>
    </ng-container>
  </div>
  <div *ngIf="!rows.length && !showError && defaultRow && defaultRow.template">
    <ng-template [ngTemplateOutlet]="defaultRow.template"></ng-template>
  </div>
  <div *ngIf="showError && errorRow && errorRow.template">
    <ng-template [ngTemplateOutlet]="errorRow.template"></ng-template>
  </div>
</ng-template>
