<h6 class="mb-5 text-muted">Test A : Tabla por defecto</h6>

<mte-modular-table>

  <!-- rows -->

  <mte-row-header>
    <mte-row-cell><p><b>Titulo 1</b></p></mte-row-cell>
    <mte-row-cell><p><b>Titulo 2</b></p></mte-row-cell>
    <mte-row-cell><p><b>Titulo 3</b></p></mte-row-cell>
  </mte-row-header>

  <mte-row *ngFor="let row of [].constructor(8)">
    <mte-row-cell>
      <div class="w-100 h-100 d-flex align-items-center">
        <p class="text-muted">Celda 1</p>
      </div>
    </mte-row-cell>
    <mte-row-cell>
      <div class="w-100 h-100 d-flex align-items-center">
        <p class="text-muted">Celda 2</p>
      </div>
    </mte-row-cell>
    <mte-row-cell>
      <div class="w-100 h-100 d-flex align-items-center">
        <p class="text-muted">Celda 3</p>
      </div>
    </mte-row-cell>
  </mte-row>



</mte-modular-table>