<h6 class="mb-5 text-muted">Test E : Probamos los row groups.</h6>


<mte-modular-table>


  <!-- grupo 1 -->
  <mte-rows-group>

    <mte-rows-group-label [id]="'g_rows'">
      <button class="btn">Grupo 1 (rows desde array)</button>
    </mte-rows-group-label>

    <mte-row *ngFor="let x of [1,1,1,1,1,1,1,1,1]">
      <mte-row-cell>
        <div class="border-bottom"><p class="text-danger m-0">title</p><p class="text-muted">subtitle</p></div>
      </mte-row-cell>
    </mte-row>

  </mte-rows-group>


  <!-- grupo 2 - asyncrono -->
  <mte-rows-group *ngIf="showAsyncRows">

    <mte-rows-group-label [id]="'g_async'">
      <button class="btn">Grupo 2 (ngif)</button>
    </mte-rows-group-label>

    <mte-row *ngFor="let x of [1,1,1,1]">
      <mte-row-action *ngIf="showAsyncAction" [action]="asyncAction">
        <div class="h-100 bg-warning d-flex align-items-center justify-content-center">
          <p class="text-white">async action</p>
        </div>
      </mte-row-action>
      <mte-row-cell>
        <div class="border-bottom"><p class="text-danger m-0">title</p><p class="text-muted">subtitle</p></div>
      </mte-row-cell>
      <mte-row-cell>
        <div class="border-bottom"><p class="text-danger m-0">title</p><p class="text-muted">subtitle</p></div>
      </mte-row-cell>
      <mte-row-cell>
        <div class="border-bottom"><p class="text-danger m-0">title</p><p class="text-muted">subtitle</p></div>
      </mte-row-cell>
    </mte-row>

  </mte-rows-group>

  <!-- grupos con ngfor -->
  <mte-rows-group *ngFor="let i of [1,2]">

    <mte-rows-group-label [id]="i.toString()">
      <button class="btn">Grupo {{i}} (ngfor)</button>
    </mte-rows-group-label>

    <mte-row *ngFor="let x of [1,1,1,1,1,1,1,1,1]">
      <mte-row-cell>
        <div class="border-bottom"><p class="text-danger m-0">title {{i}}</p><p class="text-muted">subtitle {{i}}</p></div>
      </mte-row-cell>
      <mte-row-cell>
        <div class="border-bottom"><p class="text-danger m-0">title {{i}}</p><p class="text-muted">subtitle {{i}}</p></div>
      </mte-row-cell>
    </mte-row>

  </mte-rows-group>

</mte-modular-table>