<h6 class="mb-5 text-muted">Test D : Probamos el mensaje por defecto y el error.</h6>


<mte-modular-table [showError]="showAsyncError">

  <!-- rows -->
  <mte-row *ngFor="let row of rows; let lastRow = last;" [context]="row">
    <mte-row-action [action]="rowAction.action" *ngFor="let rowAction of row.actions">
      <div class="text-center ms-2 h-100 bg-primary p-2">
        <p class="text-white">{{rowAction.name}}</p>
      </div>
    </mte-row-action>
    <mte-row-cell *ngFor="let cell of row.cells;">
      <div class="border-top py-2" [ngClass]="{'border-bottom': lastRow}">
        <p class="text-danger m-0">{{cell.title}}</p>
        <p class="text-muted m-0">subtitulo de la celda</p>
      </div>
    </mte-row-cell>
  </mte-row>

  <!-- Row que muestra en caso de error -->
  <mte-row-on-error>
    <div class="w-100 h-100 py-5 d-flex justify-content-center align-items-center bg-danger py-5">
      <h3 class="fw-bold">Sucedio un error ! :'(</h3>
    </div>
  </mte-row-on-error>

  <!-- Row que se muestra en caso de no haber contenido -->
  <mte-row-default>
    <div class="w-100 h-100 py-5 d-flex justify-content-center align-items-center">
      <h3 class="text-muted">No hay contenido :0</h3>
    </div>
  </mte-row-default>

</mte-modular-table>