<div class="w-100 h-100">
  
  <!-- headers -->
  <div class="w-100 row p-0 m-0">
    <div class="col-4 p-0 m-0">
      <p class="h3 text-dark">{{title}}</p>
      <p class="h5 text-muted">{{subTitle}}</p>
    </div>
    <div class="col-8 p-0 m-0 d-flex justify-content-end">
      <ng-container *ngFor="let header of headerActions">
        <ng-template [ngTemplateOutlet]="header.template"></ng-template>
      </ng-container>
    </div>
  </div>
  
  <!-- body -->
  <div>
  
    <!-- rows sin group -->
    <div *ngIf="rows">
      <div *ngIf="rows?.length && !showError">
        <ng-container *ngIf="headerRow && headerRow?.template">
          <ng-template [ngTemplateOutlet]="headerRow.template"></ng-template>
        </ng-container>
        <ng-container *ngFor="let row of rows">
          <ng-template [ngTemplateOutlet]="row.template"></ng-template>
        </ng-container>
      </div>
      <div *ngIf="!rows.length && !showError && defaultRow && defaultRow?.template">
        <ng-container [ngTemplateOutlet]="defaultRow.template"></ng-container>
      </div>
      <div *ngIf="showError && errorRow && errorRow?.template">
        <ng-container [ngTemplateOutlet]="errorRow.template"></ng-container>
      </div>
    </div>
    
    <!-- groups -->
    <div *ngIf="groups">
      <!-- labels -->
      <div class="d-flex w-100">
        <ng-container *ngFor="let group of groups">
          <div (click)="showGroup = group.label.id">
            <span [ngClass]="{ 'text-primary': showGroup === group.label.id }">
              <ng-template [ngTemplateOutlet]="group.label.template"></ng-template>
            </span>
          </div>
        </ng-container>
      </div>

      <!-- rows -->
      <ng-container *ngFor="let group of groups">
        <div *ngIf="showGroup === group.label.id">
          <ng-template [ngTemplateOutlet]="group.template"></ng-template>
        </div>
      </ng-container>
    </div>


    <!-- footer -->
    <div class="w-100 p-0 m-0 d-flex justify-content-start">
      <ng-container *ngFor="let footer of footerActions">
        <ng-template [ngTemplateOutlet]="footer.template"></ng-template>
      </ng-container>
    </div>

  </div>

</div>
