@import './../../../../node_modules/bootstrap/scss/bootstrap.scss';



/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
.slide-left{
  -webkit-animation:slide-left .3s cubic-bezier(.25,.46,.45,.94) both;
  animation:slide-left .3s cubic-bezier(.25,.46,.45,.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left{
  0% {
    -webkit-transform:translateX(110%);
    transform:translateX(110%);
  }
  100% {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  }
}



/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
